:root {
    --main-color: #4F46E5;
    --main-bg-color: #FFFFFF;
    --icon-color: #9CA3AF;
    --card-color:  #f3f4f6;
}


html {
    margin: 0px;
}


body {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0;
    border: 0;
    font-family: Inter;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
}


.navbar {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}


.navbar .logo {
    display: flex;
    align-items: center;
    margin: 0px 16px 0px 10px;
}

.navbar .logo img {
    width: 42px;
    height: 42px;
    border-radius: 6px;

}

.navbar .logo span {
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-left: 16px;
    color: var(--main-color);
}


.navbar-second {
    height: 100%;
    /* margin-right: 10px; */

}


.navbar-second .list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0px;
}

.navbar-second .list .list-items {
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 450;
    padding: 32px 20px;
    box-sizing: border-box;
}

.navbar-third {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
}


.navbar-third .btn {
    width: 150px;
    height: 42px;
    margin-right: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    font-family: Inter;
    font-size: 1.2rem;
}

.navbar-third .btn:hover{
    background-color: #3128dc;
    transform: scale(110%);
    transform: 1s ease;
}


.hero-section {
    height: 85vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 20px;
    box-sizing: border-box;

}


.hero-section .content {
    width: 50%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    text-align: left;
    align-content: center;
}

.hero-section h1 {
    font-size: 3.5rem;
    color: #1f2937;
    margin: 0px;
}

.hero-section p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--icon-color);
    margin: 0px;
    padding: 20px 0px 20px 0px;
}


.hero-section .image {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
}


.hero-section .image img {
    width: 82%;
    height: 100%;
}

#download-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#download-btn a {
    font-weight: bolder;
    width: 200px;
    height: 60px;
    display: inline-block;
    text-align: center;
    align-content: center;
    /* padding: auto; */
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-radius: 5px;
    /* margin: 0px 10px 0px 0px; */
}

#download-btn #icon {
    display: flex;
    align-items: center;
}

#download-btn #icon svg {
    margin: 0px 10px 0px 16px;
    width: 28px;
    height: 28px;

}


.icon-section {
    width: 100%;
    height: 120px;
    border: 2px solid black;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    border: 0px;
    padding: 40px 0px 40px 0px;
    /* box-sizing: border-box; */
}


.icon-section #heading {
    font-size: 1.2rem;
    font-weight: 400;
    height: 40px;
    /* color: var(--icon-color); */
}

#icon-list {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin: 30px 0px 0px 0px;
    /* border: 2px solid red; */

}


.benfits-header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 48px 0px 48px 0px;
}

.benfits-header #heading {
    font-weight: 600;
    color: var(--main-color);
    margin: 0px 0px 16px 0px;

}




.common-header {
    font-size: 2.1rem;
    color: #1f2937;
    margin: 0;
}

.common-content {
    width: 680px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--icon-color);
    margin: 0;
    padding: 20px 0px 30px 0px;

}


.section-benfit {
    width: 100%;
    display: flex;
    height: 80vh;
    justify-content: start;
    box-sizing: border-box;
    margin: 0px 0px 100px 0px;

}



.section-benfit .image-section {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 100%;
    object-fit: fill;
}

.section-benfit .image-section img {
    width: 70%;
    height: 100%;

}

.section-benfit .content {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: left;
    margin: 0px 0px 0px 50px;


}

.section-benfit .content .list {
    display: flex;
    flex-direction: column;
}



.section-benfit .items {
    display: flex;
    flex-direction: row;
    padding: 24px 0px 24px 0px;
}

.section-benfit .sub-icon {
    width: 44px;
    height: 44px;
    background-color: var(--main-color);
    border-radius: 7px;
    margin: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-benfit .sub-content h4 {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    font-size: 1.2rem;
}


.section-benfit .sub-content p {
    margin: 0px;
    font-weight: 400;
    color: var(--icon-color);
}

#video-area {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

#video-player {
    width: 800px;
    height: 450px;
    background: linear-gradient(115deg, #62cff4, #2c67f2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-list {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 24px 52px 24px 52px;

}



.card-list .carditems {
    width: 30%;
    height: 100%;
    background-color: var(--card-color);
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
}


.carditems p {
    font-size: 1.4rem;
    padding: 15px;
    line-height: 30px;
}


.card-list .carditems .profile-pic {

    width: 60px;
    height: 60px;
    border-radius: 9999px;
    overflow: hidden;
}


.profile-pic img {
    width: 45px;
    height: 45px;
}


.profile-details {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 20px;
}


.profile-details h6 {
    margin: 0px;
    font-size: 1rem;
    font-weight: 500;

}

@media (max-width:1100px) {

    .card-section{
        width: 100%;
        height: 1100px;
        min-width: 576px;
        display: flex;
        justify-content: center;
         align-items: center; 
         padding: 0px;
    }
     .card-list{
        width: 80%;
        height: 90%;
        flex-direction: column;
        justify-content: space-around;
    }

    
    .card-list .carditems {
        width: 100%;
        height: 30%;
        background-color: var(--card-color);
        border-radius: 20px;
        padding: 0px;
        overflow: hidden;
    }
        
}




.section-faq {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 50px;
}


.section-faq .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 300px;


}


.section-faq .list .items {
    
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 20px;
    border-radius: 8px;
    background-color: var(--card-color);
    
}


.section-faq .list .items h6{
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0px;
    color: hsl(0, 1%, 39%);

}



.footer-section{
    height: 220px;
    display: flex;
    justify-content:space-around;
    padding: 50px 110px 10px 110px;
    color: var(--icon-color);
    font-size: 1rem;
    font-weight: 400;
}


.footer-section .about{
    width: 32%;
    font-size: .9rem;
    font-weight: 300;
    color: hsl(0, 1%, 39%);
    padding: 0px 0px 10px 0px;
    line-height: 24px;
}

.footer-section .about .logo{
    display: flex;
    align-items: center;
}

.links{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
}

.links .list{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1rem;
}

.links .list .items{
    font-size: 1rem;
    font-weight: 300;
    color: hsl(0, 1%, 39%);
    padding: 0px 20px 20px 20px;
}


.footer-section .socials{
    width: 20%;
    font-size: .9rem;
    font-weight: 300;
    color: hsl(0, 1%, 39%);
}

.footer-section .socials #icons svg{
    padding: 20px 10px 0px 0px;
    text-align: left;
}



#line{
    width: 1265px;
    border: 1px solid  hsl(240, 4%, 95%);
    margin: auto;  
}


.rights{
    font-size: .75rem;
    margin: auto;
    padding: 0px 0px 40px 0px;
    color: hsl(0, 1%, 39%);
}